.banner-custom {
  background: linear-gradient(
      42deg,
      rgba(231, 0, 138, 0.06) -9.83%,
      rgba(117, 0, 228, 0.06) 46.52%,
      rgba(255, 180, 126, 0.06) 99.61%
    ),
    linear-gradient(187deg, #fcffff -184.07%, #fdffff 171.05%);
  border: 1px solid var(--Coop-Brand-Colors-IC-White, #fcffff);
  box-shadow:
    0.5px 1px 2px 0px rgba(44, 51, 51, 0.25),
    2px 2px 1px 0px #fcffff inset;
}

.button {
  border-radius: 6px;
  border: 1px solid #480783;
  background: linear-gradient(
      42deg,
      rgba(231, 0, 138, 0.06) -9.83%,
      rgba(117, 0, 228, 0.06) 46.52%,
      rgba(255, 180, 126, 0.06) 99.61%
    ),
    linear-gradient(187deg, #fcffff -184.07%, #fdffff 171.05%);
  box-shadow:
    0.5px 1px 2px 0px rgba(44, 51, 51, 0.25),
    2px 2px 1px 0px #fcffff inset;
}
