.yield-widget {
  border-radius: 23px;
  border: 1px solid #ebf2f2;
  background: linear-gradient(
      33deg,
      rgba(0, 189, 192, 0.02) -9.23%,
      rgba(0, 249, 228, 0.01) 48.82%,
      rgba(212, 0, 216, 0.02) 131.54%
    ),
    linear-gradient(187deg, #fcffff -184.07%, #fcffff 171.05%);
  box-shadow:
    2px 2px 1px 0px #fcffff inset,
    0.5px 1px 2px 0px rgba(44, 51, 51, 0.25);
}
